<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= event.name %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/eventStyle.css" rel="stylesheet">
  </head>
  <body>
  	<center><h2><%= event.name %></h2></center>
  	<br>
  	<br>
  	<br>
  	<center><h1>PUT GRAPHS HERE</h1></center>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
      var requestKinveyData = function(){
        setTimeout(function(){
          $.ajax({
            type: 'POST',
            contentType: 'application/json',
                    url: 'get_kinvey_data',            
                    success: function(data) {
                      console.log(data);
                      if(data.status == 0){
                        console.log(JSON.stringify(data));
                      }
                      else if(data.status == -1){
                        console.log("try again");
                        requestKinveyData();
                      }
                      else if(data.status == -2){
                        console.log("No data");
                      }
                    },
                    error: function(error){
                      console.log(error);
                    }
          });
        }, 2000);
      }
      requestKinveyData();
      var fbEventData = <%-JSON.stringify(event)%>; // fbEventData is JSON object with event info from FB
      console.log(fbEventData);
    </script>


    <script>window.jQuery</script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
